<h1>Appointments</h1>
<%= link_to 'New Appointment', new_appointment_doctor_path %>
<table>
  <tr>
    <th>User</th>
    <th>Doctor</th>
    <th>Date</th>
    <th>Actions</th>
  </tr>
  <% @appointment_doctors.each do |appointment| %>
    <tr>
      <td><%= appointment.user.phone %></td>
      <td><%= appointment.doctor.name %></td>
      <td><%= appointment.date %></td>
      <td>
        <%= link_to 'Show', appointment_doctor_path(appointment) %>
        <%= link_to 'Edit', edit_appointment_doctor_path(appointment) %>
        <%= button_to 'Destroy', appointment_doctor_path(appointment), form: { data: { turbo: false, turbo_method: :delete }, onsubmit: "return confirm('Are you sure?')" } %>
      </td>
    </tr>
  <% end %>
</table>