<h1>Appointment Details</h1>
<p><strong>User:</strong> <%= @appointment_doctor.user.phone %></p>
<p><strong>Doctor:</strong> <%= @appointment_doctor.doctor.name %></p>
<p><strong>Date:</strong> <%= @appointment_doctor.date %></p>
<%= link_to 'Edit', edit_appointment_doctor_path(@appointment_doctor) %> |
<%= link_to 'Back', appointment_doctors_path %>