<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Admin" %></title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "active_admin", media: "all" %>
  <%= javascript_include_tag "active_admin" %>
</head>
<body class="active_admin logged_out">
  <div id="wrapper">
    <div id="header">
      <h1><%= link_to "Clinic Admin", root_path %></h1>
    </div>
    <div id="main_content_wrapper">
      <div id="content_wrapper">
        <div class="flashes">
          <% flash.each do |type, message| %>
            <%= content_tag :div, message, class: "flash flash_#{type}" %>
          <% end %>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>